<mat-card>
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
        <div class="row">
          <div class="projectName">{{br_num}}</div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
            <label class="Header-label">Submitter:</label>
            <span class="Header-span">{{authService.user_id}}</span>
            <label class="Header-label">Department:</label>
            <span class="Header-span">Engneered Sol...</span>
          </div>
          <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3 center-block">
            <label class="Header-label">Updated:</label>
            <span class="Header-span">{{d}}</span>
            <label class="Header-label">Type:</label>
            <span class="Header-span">Not Selected</span>
          </div>
          <div class="col-lg-5 col-sm-5 col-xs-5 col-md-5">
            <label class="Header-label">Project:</label>
            <span class="Header-span">Automation_Non_Pro...</span>
            <label class="Header-label">Work Order Number:</label>
            <span class="Header-span"></span>
          </div>
        </div>

      </div>
      <div class="col-sm-6" style="margin-top: 10px;">
        <div class="row">
          <div class="col-lg-5 col-sm-5 col-xs-5 col-md-5 card border-dark">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4" style="text-align:center;">

                <circle-progress [percent]="percent" id="circle" [showSubtitle]=false [titleFontSize]=8 [radius]="22" [outerStrokeWidth]="4"
                  [innerStrokeWidth]="2" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800"></circle-progress>
                <!-- <mat-progress-spinner class="example-margin" style="margin: 20% 10%;" color="warn" [diameter]=45 [value]=18>
                </mat-progress-spinner> -->
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8" style="margin-top:15px;padding:0px 5px;">
                <div class="staus-new">New</div>
                <div class="staus-Batch">Batch Request Created</div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 pilot-br active" style="padding:0px;">
            <span>
              <img class="projectIcon mx-auto d-block" src="assets/Images/brm60x60.png">
            </span>
            <span class="btm-text">BRM</span>
          </div>
          <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 pilot-br" style="padding:0px;">
            <span>
              <img class="projectIcon mx-auto d-block disabled" src="assets/Images/comment.jpg">
            </span>
            <span class="btm-text btm-disabled">Comment</span>
          </div>
          <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 pilot-br" style="padding:0px;">
            <span>
              <img class="projectIcon mx-auto d-block" src="assets/Images/History.png">
            </span>
            <span class="btm-text btm-disabled">History</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<div class="row header" style="background-color: white;margin-right: 0px;">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <ul class="nav nav-tabs" role="tablist" style="padding-top:10px;padding-left: 9px;">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#overview">OverView</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#equipment">Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#formula">Formula</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#filling">Filling</a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <div id="equipment" class="tab-pane active">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
      <div class="row">
        <div class="col-sm-9 col-lg-9 col-md-9 col-xs-9" style="padding: 20px;">
          <div class="tab-content">
            <div id="book" class="tab-pane active">
              <mat-card>
                <div class="row">
                  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="row">
                      <div class="col-sm-9 col-lg-9 col-md-9 col-xs-9">
                        <h4>Book Equipment</h4>
                      </div>
                      <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 float-right">
                        <span>Required*</span>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <form class="form-horizontal">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                          <label>Site*</label>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                          <div class="form-control">
                            <mat-select #site placeholder="Selet Site...">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let site of sitemenu" value="{{site}}">{{site}}</mat-option>

                            </mat-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                          <label>Legal Product Category*</label>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                          <div class="btn-group">
                            <button type="button" class="btn card border-dark nav-link" style="max-height:1cm;" [ngClass]="{'test': newColor3}" (click)="toggleColor3()">Drug</button>
                            <button type="button" class="btn card border-dark nav-link" style="max-height:1cm;" [ngClass]="{'test': newColor4}" (click)="toggleColor4()">Cosmetic</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                          <label>Batch Type*</label>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                          <div class="btn-group nav">
                            <button type="button" class="btn card border-dark nav-link" style="max-height:1cm;" href="#lab" data-toggle="tab" [ngClass]="{'test': newColor}"
                              (click)="toggleColor(site.value)">Lab</button>
                            <button type="button" class="btn card border-dark nav-link" style="max-height:1cm;" href="#pilot" data-toggle="tab" [ngClass]="{'test': newColor1}"
                              (click)="toggleColor1(site.value)">Pilot</button>
                            <button type="button" class="btn card border-dark  nav-link" style="max-height:1cm;" href="#other" data-toggle="tab" [ngClass]="{'test': newColor2}"
                              (click)="toggleColor2(site.value)">Others</button>
                          </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                          <mat-radio-group #gxptype class="example-radio-group">
                            <mat-radio-button class="example-radio-button" value="true" color="primary">
                              Gxp
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="false" color="primary">
                              Not Gxp
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="tab-content">
                      <div id="lab" class="tab-pane ">
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Reason For This Batch*:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <div class="form-control">
                                <mat-select #equipmentreason placeholder="Select Reason For This Batch">
                                  <mat-option *ngFor="let reason of reasons" value="">{{reason}}</mat-option>

                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Date*:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <mat-form-field>
                                <input matInput [matDatepicker]="lab" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="lab"></mat-datepicker-toggle>
                                <mat-datepicker #lab></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div id="pilot" class="tab-pane fade">
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Equipment:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <div class="form-control">
                                <mat-select placeholder="Select Equipment">
                                  <mat-option value="a">no values</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Optional Equipment:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <div class="form-control">
                                <mat-select placeholder="Select Optional Equipment">
                                  <mat-option value="a">no values</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Reason For This Batch*:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <div class="form-control">
                                <mat-select placeholder="select Reason For This Batch">
                                  <mat-option value="a">None</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Date*:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <mat-form-field>
                                <input matInput [matDatepicker]="pilot" #date placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="pilot"></mat-datepicker-toggle>
                                <mat-datepicker #pilot></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div id="other" class="tab-pane fade">
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Equipment:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <div class="form-control">
                                <mat-select placeholder="Select Equipment">
                                  <mat-option value="a">no values</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Reason For This Batch*:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <label for="exampleTextarea" placeholder="Reason"></label>
                              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="row">
                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                              <label>Date*:</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                              <mat-form-field>
                                <input matInput [matDatepicker]="others" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="others"></mat-datepicker-toggle>
                                <mat-datepicker #others></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </form>
                </div>
              </mat-card>
            </div>
            <div id="calender" class="tab-pane fade">
              <span>overview</span>
            </div>
            <div id="approver" class="tab-pane fade">
              <span>approver</span>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-3 col-xs-3">
          <div class="batch-header nav nav-tabs">
            <button mat-button class="batch-br" data-toggle="tab" href="#book" [ngClass]="{'test': newColor5}" (click)="toggleColor5()">Book Equipment</button>
            <button mat-button class="batch-br" data-toggle="tab" href="#calender" [ngClass]="{'test':newColor6}" (click)="toggleColor6()">Calender</button>
            <button mat-button class="batch-br" data-toggle="tab" href="#approver" [ngClass]="{'test':newColor7}" (click)="toggleColor7()">Approver</button>
            <br>
            <div>

              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <button mat-raised-button color="primary">
                  <b>Cancel</b>
                </button>
                <button mat-raised-button (click)="equipmentreq()" color="primary">
                  <b>Save</b>
                </button>
                <button mat-raised-button color="primary" disabled>
                  <b>Submit</b>
                </button>

              </mat-button-toggle-group>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="overview" class="tab-pane fade">
    <span>overview</span>
  </div>
  <div id="formula" class="tab-pane fade">
    <span>formula</span>
  </div>
  <div id="filling" class="tab-pane fade">
    <span>filling</span>
  </div>
</div>