<div style="margin:20px 20px 20px 20px;">
  <legend>
    <b>New Request</b>
  </legend>

  <br>
  <br>

  <div class="row">
    <div class="col ">
      <h6>Request Type</h6>
    </div>
    <input class="col form-control" placeholder="BATCH REQUEST" disabled>

  </div>

  <br>
  <br>


  <div class="row form-group">
    <div class="col ">
      <h6>Project*</h6>
    </div>
    <select class="col custom-select">
      <option selected="">Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <br>
  <div class="row form-group">
    <div class="col">
      <h6>Department*</h6>
    </div>
    <select class="col custom-select">
      <option selected="">Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <br>
  <div class="ml-auto" style="margin-left:20px; width: 200px">
    <button class="btn" (click)="onNoClick()">Cancel</button>
    <button class="btn btn-primary" (click)="router.navigate(['batchrequest']) && onNoClick()" style="margin-left:20px;">Submit</button>
  </div>
</div>