<h3>New User</h3>
<br>
<br>
<form>
  <h6>UserID</h6>
  <input class="form-control" type="text" [(ngModel)]="user_id" [ngModelOptions]="{standalone: true}">
  <br>
  <h6>Email</h6>
  <input class="form-control" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  <br>
  <h6>Password</h6>
  <input class="form-control" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  <br>
  <button type="button" mat-raised-button (click)="onNoClick()">Cancel</button>
  <button type="button" mat-raised-button (click)="submit()" style="float:right;background:rgb(92, 120, 202)">Add</button>
</form>