.example-card {
  max-width: 200px;
  margin: 0.5cm;

}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */


/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-width: 19cm;

}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}





/* .jumbotron {
  max-width: 30cm;
  border: solid;
  background-color: snow;
  height: 60cm;
} */






.lds-ellipsis {
  margin-left:15cm;
    display: inline-block;
    position: relative;
    width: 164px;
    height: 164px;

  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(3, 3, 3);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

