<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand bg-primary" href="/" style="margin:-18x -5px -8px -8px;">
    <img height=30px src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_login/images/brm60x60.png">
  </a>
  <h5 class="">Batch</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#" style="cursor:pointer;"> Logout </a>

      </li>
      <li class="nav-item">
        <a class="nav-link">Help </a>
      </li>

    </ul>

  </div>

</nav>
<mat-tab-group>
  <mat-tab label="Tab 1">
    <mat-spinner *ngIf="!loader" class="row align-items-center" style="margin-top:5cm;margin-left:12cm;"></mat-spinner>
    <div *ngIf="loader" style="margin:50px;">
      <legend>Admin's Management</legend>

      <h4>Users</h4>
      <div class="row">


        <mat-card *ngFor="let user of users" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <mat-icon style="font-size:40px;" mat-button disabled>account_circle</mat-icon>
            </div>

            <mat-card-title>{{user.user_id}}

            </mat-card-title>

            <mat-card-subtitle>{{user.user_type}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://loremflickr.com/320/240" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <label>Email:{{user.email}}</label>
            <label>Created At:{{user.createdAt}}</label>
          </mat-card-content>
          <mat-card-actions>

            <a (click)="makeasadmin(user.user_id)" class="btn outline-info"> Mark as admin</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <mat-divider></mat-divider>
      <h4>Admins</h4>
      <div class="row">
        <mat-card style="background:rgb(176, 253, 145)" *ngFor="let admin of admins" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <mat-icon style="font-size:40px;" mat-button disabled>how_to_reg</mat-icon>
            </div>
            <mat-card-title>{{admin.user_id}}</mat-card-title>
            <mat-card-subtitle>{{admin.user_type}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://loremflickr.com/220/250" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <label>{{admin.email}}</label>
            <label>{{admin.createdAt}}</label>
            <a (click)="removefromadmin(admin.user_id)" class="btn btn-primary"> Remove as admin</a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>





  <mat-tab label="Create Site">
    <br>
    <mat-card>




      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Site">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="site">
            <mat-header-cell *matHeaderCellDef>Sites</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.site}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.createdAt}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <button mat-fab [disabled]="add">Add</button>





      <!-- <h5 class="col-sm-3">Create Site</h5>
      <mat-form-field class="col-sm-3">
        <input matInput placeholder="Add Site" #site>
      </mat-form-field>
      <div class="col-sm-2" style="height:1cm;">
        <button class="btn btn-primary" (click)="addsite(site.value)">Create</button>
      </div> -->
    </mat-card>
  </mat-tab>
  <mat-tab label="Create reason">
    <br>
    <div class="jumbotron">
      <h5 class="row" style=" ">Create a Reason</h5>
      <mat-form-field class="col-sm-3 ">
        <mat-select #site1 placeholder="Select a Site ">
          <mat-option *ngFor="let site of sitemenu " value="{{site}} "> {{ site }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-3 ">
        <mat-select #batch1 placeholder="Select a Batch ">
          <mat-option *ngFor="let batch of batchmenu " value="{{batch}} "> {{ batch }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example col-sm-3 ">
        <input matInput placeholder="Add Reason " #reason> </mat-form-field>
      <button class="btn btn-primary " (click)="addreason(site1.value, batch1.value, reason.value) ">Create</button>
    </div>
  </mat-tab>
  <mat-tab label="Create Department">
    <br>
    <div class="row jumbotron ">
      <h5 class="col-sm-3 ">Create Department</h5>
      <mat-form-field class="col-sm-3 ">
        <input #department matInput placeholder="Create Department"> </mat-form-field>
      <div class="col-sm-2 " style="height:1cm; ">
        <button class="btn btn-primary " (click)="adddpt(department.value)">Create</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Create Project">
    <br>
    <div class="row jumbotron ">
      <h5 class="col-sm-3 ">Create Project</h5>
      <mat-form-field class="col-sm-3 ">
        <input #project matInput placeholder="Create Project "> </mat-form-field>
      <div class="col-sm-2 " style="height:1cm; ">
        <button class="btn btn-primary " (click)="addproject(project.value) ">Create</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Create Bench">
    <br>
    <div class="row jumbotron ">
      <h5 class="col-sm-3 ">Create a Bench</h5>
      <br>
      <div class="row">
        <mat-form-field class="col-sm-2">
          <mat-select placeholder="Select a Site" #site3>
            <mat-option *ngFor="let site of sitemenu " value="{{site}}"> {{site}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-3">
          <mat-select #batch2 placeholder="Select a Batch ">
            <mat-option *ngFor="let batch of batchmenu " value="{{batch}}"> {{batch}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-4">
          <mat-select #product placeholder="Legal Product Category ">
            <mat-option *ngFor="let product of productmenu " value="{{product}}"> {{ product}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-2">
          <input #bench matInput placeholder="Create Bench"> </mat-form-field>
        <div class="col-sm-1 " style="height:1cm; ">
          <button class="btn btn-primary " (click)="addbench(site3.value,batch2.value, product.value, bench.value) ">Create</button>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Create Equipment">
    <br>
    <div class="jumbotron">
      <h5 class="row" style=" ">Create Equipment</h5>
      <mat-form-field class="col-sm-3 ">
        <mat-select placeholder="Select a Site" #site9>
          <mat-option *ngFor="let site of sitemenu " value="{{site}}">{{ site }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-3 ">
        <mat-select placeholder="Select a Batch" #batch7>
          <mat-option *ngFor="let batch of batchmenu " value="{{batch}}"> {{ batch }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example col-sm-3 ">
        <input matInput placeholder="Add Equipment " #equipment> </mat-form-field>
      <button class="btn btn-primary " (click)="addeqpt(site9.value, batch7.value, equipment.value) ">Create</button>
    </div>
  </mat-tab>
  <mat-tab label="Create Packaging Code">
    <br>
    <div class="row jumbotron ">
      <h5 class="col-sm-3">Create Packaging Code</h5>
      <mat-form-field class="col-sm-3">
        <input matInput placeholder="Create Packing Code" #pc> </mat-form-field>
      <div class="col-sm-2 " style="height:1cm;">
        <button class="btn btn-primary " (click)="addpc(pc.value)">Create</button>
      </div>
    </div>
  </mat-tab>



</mat-tab-group>


<flash-messages></flash-messages>