.example-card {
  max-width: 200px;
  margin: 0.5cm;

}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.jumbotron{
  border-style: solid ;
  /* max-width: 30cm; */
  /* margin: 1cm; */
  /* align-items: center; */
}
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-width: 19cm;

}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
