<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand bg-primary" href="/" style="margin:-18x -5px -8px -8px;">
    <img height=30px src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_login/images/brm60x60.png">
  </a>
  <h5 class="">Batch</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#" style="cursor:pointer;"> Logout </a>

      </li>
      <li class="nav-item">
        <a class="nav-link">Help </a>
      </li>

    </ul>

  </div>

</nav>
<mat-tab-group>
  <mat-tab label="Users">


    <div style="margin:50px;">
      <legend>Admin's Management</legend>

      <h4>Users</h4>
      <div class="row" *ngIf="!loader" style="margin-left:1cm;">

        <div class=" col-sm-4  timeline-wrapper example-card1" *ngFor="let load of loadcard">
          <mat-card class="timeline-item">
            <div class="animated-background">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>
              <div class="background-masker content-top"></div>
              <div class="background-masker content-first-end"></div>
              <div class="background-masker content-second-line"></div>
              <div class="background-masker content-second-end"></div>
              <div class="background-masker content-third-line"></div>
              <div class="background-masker content-third-end"></div>
            </div>
          </mat-card>
        </div>


      </div>

      <div class="row" *ngIf="loader">


        <mat-card *ngFor="let user of users" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <mat-icon style="font-size:40px;" mat-button disabled>account_circle</mat-icon>
            </div>

            <mat-card-title>{{user?.user_id}}
              <mat-icon *ngIf="user.approver_permission">spellcheck</mat-icon>

            </mat-card-title>

            <mat-card-subtitle *ngIf=" !user.approver_permission">{{user?.user_type}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="user.approver_permission">Approver</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://loremflickr.com/320/240" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <label>Email:{{user?.email}}</label>
            <label>Created At:{{user?.createdAt}}</label>
          </mat-card-content>
          <mat-card-actions>

            <a (click)="makeasadmin(user.user_id)" *ngIf="authService.user_type=='SUPERADMIN'" class="btn outline-info ">
              <mat-icon>verified_user</mat-icon> Mark as admin</a>
            <a (click)="addapprover(user.user_id)" *ngIf="authService.user_type=='ADMIN' && !user.approver_permission" class="btn card border-info">
              Add as Approver</a>
            <a (click)="removeapprover(user.user_id)" *ngIf="authService.user_type=='ADMIN' && user.approver_permission" class="btn card border-danger">
              Remove as Approver</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" *ngIf="authService.user_type=='SUPERADMIN'" (click)="openDialog()">
          <img style="cursor: pointer;" src="assets/Images/newuser.png">
        </mat-card>
      </div>
      <mat-divider></mat-divider>
      <h4>Admins</h4>
      <div class="row">
        <mat-card style="background:rgb(176, 253, 145)" *ngFor="let admin of admins" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <mat-icon style="font-size:40px;" mat-button disabled>how_to_reg</mat-icon>
            </div>
            <mat-card-title>{{admin?.user_id}}</mat-card-title>
            <mat-card-subtitle>{{admin.user_type}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://loremflickr.com/220/250" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <label>{{admin?.email}}</label>
            <label>{{admin?.createdAt}}</label>
            <a (click)="removefromadmin(admin.user_id)" *ngIf="authService.user_type=='SUPERADMIN'" class="btn btn-primary">
              Remove as admin</a>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>




  <mat-tab label="Create Site">
    <br>
    <mat-card>



      <div class="row">
        <div class="col-sm-6 example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Site">
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="site">
              <mat-header-cell *matHeaderCellDef>Sites</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?.site}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?.createdAt}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <div class="col-sm-1">
          <button mat-fab (click)="addsite(site.value)">ADD</button>
        </div>
      </div>




      <!-- <h5 class="col-sm-3">Create Site</h5>
        <mat-form-field class="col-sm-3">
          <input matInput placeholder="Add Site" #site>
        </mat-form-field>
        <div class="col-sm-2" style="height:1cm;">
          <button class="btn btn-primary" (click)="addsite(site.value)">Create</button>
        </div> -->
    </mat-card>

    <br>
    <br>

  </mat-tab>
  <mat-tab label="Create reason">
    <br>
    <mat-card>
      <div class="row">
        <mat-form-field class="col-sm-3 ">
          <mat-select #site1 placeholder="Select a Site ">
            <mat-option *ngFor="let site of sitemenu " value="{{site}} "> {{ site }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-3 ">
          <mat-select #batch1 placeholder="Select a Batch ">
            <mat-option *ngFor="let batch of batchmenu " value="{{batch}} "> {{ batch }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example col-sm-3 ">
          <input matInput placeholder="Add Reason " #reason> </mat-form-field>
        <button mat-fab (click)="addreason(site1.value, batch1.value, reason.value) ">ADD</button>
      </div>
    </mat-card>



    <br>
    <mat-card>
      <div class="row">
        <h6 class="col-sm-3">Available Reasons</h6>
        <div class="col-sm-3">
          <select class="form-control" placeholder="Select site" (change)="addreasons($event.target.value,reaso.value)" #sit>
            <option value="{{site}}" disabled selected>select site</option>
            <option *ngFor="let site of sitemenu" value="{{site}}">{{site}}</option>

          </select>

        </div>
        <div class="col-sm-3">
          <select class="form-control" (change)="addreasons(sit.value,$event.target.value)" #reaso>
            <option value="{{site}}" disabled selected>select batch</option>
            <option *ngFor=" let batch of batchmenu " value="{{batch}}">{{batch}}</option>

          </select>

        </div>


      </div>
    </mat-card>
    <br>
    <br>
    <mat-card>

      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let reason of reasons1">{{reason}}</mat-list-item>

      </mat-list>

    </mat-card>


  </mat-tab>





  <mat-tab label="Create Department ">
    <br>

    <mat-card>



      <div class="row ">
        <div class="col-sm-6 example-container mat-elevation-z8 ">
          <div class="example-header ">
            <mat-form-field>
              <input matInput (keyup)="applyFilter1($event.target.value) " placeholder="Departments">
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="dataSource2">


            <ng-container matColumnDef="department">
              <mat-header-cell *matHeaderCellDef>Departments</mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element?.department}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element?.createdAt}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns2 "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2; "></mat-row>
          </mat-table>
        </div>
        <div class="col-sm-1 ">
          <button mat-fab (click)="adddpt() ">ADD</button>
        </div>
      </div>




    </mat-card>

    <!-- <div class="jumbotron ">
        <mat-card class="row ">
          <h5 class="col-sm-3 "></h5>
          <mat-form-field class="col-sm-4 ">
            <input #department matInput placeholder="Create Department "> </mat-form-field>
          <div class="col-sm-2 " style="height:1cm; ">
            <button mat-fab (click)="adddpt(department.value) ">ADD</button>
          </div>
        </mat-card>
      </div> -->

  </mat-tab>
  <mat-tab label="Create Project ">
    <br>


    <mat-card>




      <div class="row ">
        <div class="col-sm-6 example-container mat-elevation-z8 ">
          <div class="example-header ">
            <mat-form-field>
              <input matInput (keyup)="applyFilter3($event.target.value) " placeholder="Add Project ">
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="dataSource3 ">

            <!-- Position Column -->
            <ng-container matColumnDef="project">
              <mat-header-cell *matHeaderCellDef>Projects</mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element.project}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element?.createdAt}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns3 "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns3; "></mat-row>
          </mat-table>
        </div>
        <div class="col-sm-1 ">
          <button mat-fab (click)="addproject() ">ADD</button>
        </div>
      </div>




    </mat-card>

  </mat-tab>
  <mat-tab label="Create Bench ">
    <br>
    <div class="jumbotron ">

      <br>

      <mat-card>

        <div class="row ">
          <mat-form-field class="col-sm-2 ">
            <mat-select placeholder="Select a Site" #site3>
              <mat-option *ngFor="let site of sitemenu" value="{{site}}"> {{site}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-2 ">
            <mat-select placeholder="Select a Batch" #batch2>
              <mat-option *ngFor="let batch of batchmenu" value="{{batch}}"> {{batch}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-3 ">
            <mat-select placeholder="Legal Product Category" #product5>
              <mat-option *ngFor="let product of productmenu" value="{{product}}"> {{product}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-3 ">
            <input matInput placeholder="Create Bench" #bench3>
          </mat-form-field>
          <div class="col-sm-1 ">
            <button mat-fab (click)="addbench(site3.value,batch2.value, product5.value, bench3.value)">ADD</button>

          </div>
        </div>
      </mat-card>
      <br>

      <br>
      <mat-card>
        <div class="row">
          <h6 class="col-sm-2">Available Benches</h6>
          <div class="col-sm-3">
            <select class="form-control" placeholder="Select site" (change)="addbenchs($event.target.value,product7.value)" #si>
              <option value="{{site}}" disabled selected>select site</option>
              <option *ngFor="let site of sitemenu" value="{{site}}">{{site}}</option>

            </select>

          </div>
          <!-- <div class="col-sm-3">
            <select class="form-control" (change)="addbenchs(si.value, $event.target.value,product7.value)" #batch>
              <option value="{{site}}" disabled selected>select batch</option>
              <option *ngFor=" let batch of batchmenu" value="{{batch}}">{{batch}}</option>

            </select>

          </div> -->

          <div class="col-sm-3">
            <select class="form-control" (change)="addbenchs(si.value, $event.target.value)" #product7>
              <option value="{{site}}" disabled selected>select LegalProductCategory</option>
              <option *ngFor=" let product of productmenu" value="{{product}}">{{product}}</option>

            </select>

          </div>


        </div>
      </mat-card>
      <br>
      <br>
      <mat-card>

        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let bench of benches1">{{bench}}</mat-list-item>

        </mat-list>

      </mat-card>



    </div>
  </mat-tab>
  <mat-tab label="Create Equipment ">
    <br>
    <div class="jumbotron ">

      <mat-card>



        <h5 class="row">Create Equipment</h5>
        <mat-form-field class="col-sm-2">
          <mat-select placeholder="Select a Site" #site9>
            <mat-option *ngFor="let site of sitemenu" value="{{site}}">{{site}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-2">
          <mat-select placeholder="Select a Batch" #batch9>
            <mat-option *ngFor="let batch of batchmenu" value="{{batch}}">{{batch}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example col-sm-3">
          <input matInput placeholder="Add Optional Equipment" #opteq7> </mat-form-field>
        <mat-form-field class="example col-sm-2">
          <input matInput placeholder="Add Equipment" #equipment6> </mat-form-field>
        <button mat-fab (click)="addeqpt(site9.value, batch9.value, opteq7.value, equipment6.value)">ADD</button>


      </mat-card>


      <br>
      <mat-card>
        <div class="row">
          <h6 class="col-sm-3">Available Equipments</h6>
          <div class="col-sm-3">
            <select class="form-control" placeholder="Select site" (change)="addequipments($event.target.value, ba.value)" #s>
              <option value="{{site}}" disabled selected>select site</option>
              <option *ngFor="let site of sitemenu" value="{{site}}">{{site}}</option>

            </select>
          </div>


          <div class="col-sm-3">
            <select class="form-control" (change)="addequipments(s.value, $event.target.value)" #ba>
              <option value="{{site}}" disabled selected>select batch</option>
              <option *ngFor=" let batch of batchmenu" value="{{batch}}">{{batch}}</option>

            </select>
          </div>



        </div>
      </mat-card>
      <br>
      <br>

      <mat-card>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let equip of equipments1">{{equip}}</mat-list-item>

        </mat-list>

      </mat-card>
    </div>

  </mat-tab>
  <mat-tab label="Create Packaging Code">
    <br>
    <mat-card>




      <div class="row ">
        <div class="col-sm-6 example-container mat-elevation-z8">
          <div class="example-header ">
            <mat-form-field>
              <input matInput (keyup)="applyFilter5($event.target.value)" placeholder="Add Packging Code">
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="dataSource6">

            <!-- Position Column -->
            <ng-container matColumnDef="packaging_code">
              <mat-header-cell *matHeaderCellDef>PackagingCode</mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element?.packaging_code}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element?.createdAt}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns6"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns6; "></mat-row>
          </mat-table>
        </div>
        <div class="col-sm-1">
          <button mat-fab (click)="addpc()">ADD</button>
        </div>
      </div>




    </mat-card>

  </mat-tab>



</mat-tab-group>