.example-container {
    display: flex;
    flex-direction: column;

  }

  .mat-table {
    overflow: auto;

  }
  p{
    font-size: 14px;
  }
  h6{
    font-family:Arial, Helvetica, sans-serif;
    margin-right:3.5cm;
  }
  .card{
    background: white
  }
  .test{
    background-color: #007bff;
  }
  .fix{
    max-width: 19cm;
  }
