<h4>
  DATE RANGE</h4>
<br>
<h6>From</h6>
<mat-form-field>
  <input matInput [matDatepicker]="picker" (dateChange)="submitenable()" placeholder="Choose a date" [(ngModel)]="date1">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<h6>To</h6>
<mat-form-field>
  <input matInput [matDatepicker]="picer1" (dateChange)="submitenable()" placeholder="Choose a date" [(ngModel)]="date2">
  <mat-datepicker-toggle matSuffix [for]="picer1"></mat-datepicker-toggle>
  <mat-datepicker #picer1></mat-datepicker>
</mat-form-field>
<br>
<div class="float-left">
  <button mat-raised-button (click)="onNoClick()" color="warm">Cancel</button>
  <button mat-raised-button (click)="submit()" style="background:rgb(37, 129, 250)" [disabled]="btndisabled">OK</button>
</div>