.form-signin{
  max-width: 600px;
  position: relative;
  }
  .example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
  }

  .example-full-width {
  width: 100%;
  }

  ul {
  list-style-type: none;

  }
  li{
    font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .border-style{
  margin-left:2cm;
  }
  .container{
    max-width: 1050px;

  }
  .example-form-field {
  width: 200px;
  }
  .loginbutton{
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(241, 163, 163, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .example-card {
    margin: 0.2cm 0.2cm 1cm 0.2cm;
    text-overflow:ellipsis;overflow:hidden;
    box-shadow: 0 8px 16px 0 rgba(241, 163, 163, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    max-width: 220px;
    max-height: 220px;

  }
  .example-card1 {
    margin: 0.2cm 0.2cm 1cm 0.2cm;
    text-overflow:ellipsis;overflow:hidden;
    box-shadow: 0 8px 16px 0 rgb(255, 246, 246), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* border-radius: 5px; */
    max-width: 230px;
    max-height: 220px;

  }
  .example-card:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
  -webkit-box-shadow: 8px 8px 6px 6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 8px 8px 15px -6px rgb(187, 183, 183);

  }

  .example-header-image {
    background-image: url('http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png');

  }
  .star{
  /* margin-left:0.7cm; */
  /* color: gray; */


  /* color: rgba(0, 0, 0, 0.138); */
  cursor: pointer;
  }

  .star:hover{
    transform: scale(1.5);
  }
.breadcrumb{
  margin-top:-20px;
  /* max-height: 1.5cm; */
}
.vl {
  border-left: 1px solid rgb(92, 94, 92);
  height: 112px;
  position:relative;
  top:11px;
  /* margin-left:0.5cm; */
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}
.list{
  padding: 20px;

}


.test{
  background-color: #007bff;
}

.dropdown-item:hover {
  background-color:#007bff;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.req{ display: inline-block; vertical-align: bottom; white-space: nowrap; width: 100%; max-width: 120px; overflow: hidden; text-overflow: ellipsis; }

a.req:hover{
color: black;
/* transform: scale(1.5); */
text-decoration: underline;
}



img:hover{
  background: rgb(206, 203, 203);

}




























.lds-ellipsis {
margin-left:15cm;
  display: inline-block;
  position: relative;
  width: 164px;
  height: 164px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(3, 3, 3);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}










/**
* main style
*/

.timeline-item {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;

  margin: 0 auto;
  max-width: 472px;
  min-height: 220px;
}

@keyframes placeHolderShimmer {
  0%{ background-position: -468px 0; }
  100%{ background-position: 468px 0; }
}

.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}















.sticky-top{
  top: 1.6cm;
  z-index: 99;
}











