<div>


  <div *ngIf="authService.loggedIn()">


    <div class="card bg-light border-dark" style="margin-top:-0.2cm;">
      <div class="row" style="margin:0.4cm">
        <div class="col-sm-1">
          <p>Mode</p>
          <div class="btn-group-vertical card border-dark" style="max-width:1.2cm;" data-toggle="buttons">
            <button class="btn btn-primary" id='Tile' style="font-size:12px;" value="Tile" (click)=tiletoggle($event.target.value)>Tile</button>
            <button class="btn" id='List' style="font-size:12px;" value="List" (click)=tiletoggle($event.target.value)>List</button>
          </div>
        </div>
        <div class="col-sm-1">
          <p class="text-centre">View</p>
          <div class="btn-group-vertical card border-dark">
            <button (click)="popToast()" style="font-size:10px;text-overflow:ellipsis;overflow:hidden; " class="btn ">MyRequest</button>
            <button style="font-size:11px;text-overflow:ellipsis;overflow: hidden;" class="btn ">Favorites</button>
            <button style="font-size:11px;text-overflow:ellipsis;overflow: hidden;" class="btn ">AllRequests</button>
          </div>
        </div>
        <div class="vl"></div>

        <div class="col-sm-9">
          <p>Filters</p>
          <div class="row">

            <div class="col-sm">

              <img class="btn" id="type" data-toggle="dropdown" style="margin-left:5px;" src="assets/Images/pilot-batch.png">
              <a class="btn" style="font-size:13px;margin-top:-5px;">Type</a>
              <div class="dropdown-menu" aria-labelledby="type">
                <div style="max-height:5cm;overflow-y:scroll">
                  <a class="dropdown-item" *ngFor="let type of typemenu" (click)="appendtofilteritems(type)">{{type}}</a>
                </div>
              </div>

            </div>
            <div class="col-sm">

              <img class="btn" id="manufacturingdate" style="margin-left:23px;" data-toggle="dropdown" src="assets/Images/creation-date.png">
              <a class="btn" style="font-size:13px;" id="dropdownMenuButton" data-toggle="dropdown">Manufacturing
                <br>Date</a>
              <div class="dropdown-menu" aria-labelledby="manufacturingdate">
                <a class="dropdown-item" *ngFor="let date of manudatemenu" (click)="appendtofilteritems(date)">{{date}}</a>
                <a class="dropdown-item dropdown-submenu " data-toggle="dropdown" id="manufacturingdate1">date range</a>
              </div>
              <div class="dropdown-menu" aria-labelledby="manufacturingdate1">

                <a class="dropdown-item">date range</a>
              </div>

            </div>
            <div class="col-sm">

              <img class="btn" id="site" data-toggle="dropdown" src="assets/Images/sm_region.png">
              <a class="btn" style="font-size:13px;">Site</a>
              <div class="dropdown-menu" aria-labelledby="site">
                <a class="dropdown-item" *ngFor="let site of sitemenu" (click)="appendtofilteritems(site)">{{site}}</a>
              </div>

            </div>
            <div class="col-sm col-md col-lg">

              <img class="btn" id="leaglproducts" data-toggle="dropdown" style="margin-left:23px;" src="assets/Images/gfo.png">
              <a class="btn" style="font-size:13px;">Legal Product
                <br>Category</a>
              <div class="dropdown-menu" aria-labelledby="legalproducts">
                <a class="dropdown-item" *ngFor="let legalproduct of legalproductcategory" (click)="appendtofilteritems(legalproduct)">{{legalproduct}}</a>
              </div>

            </div>
            <div class="col-sm">

              <img class="btn" id="status" data-toggle="dropdown" style="margin-left:5px" src=" assets/Images/status.png">
              <a class="btn" style="font-size:12px;">Status</a>
              <div class="dropdown-menu" aria-labelledby="status">
                <div style="max-height:4.5cm;overflow-y:scroll">
                  <a class="dropdown-item" *ngFor="let status of statusmenu" (click)="appendtofilteritems(status)">{{status}}</a>
                </div>

              </div>
            </div>
            <div class="col-sm">

              <img class="btn" id="project" data-toggle="dropdown" style="margin-left:7px;" src="assets/Images/project.png">
              <a class="btn" style="font-size:13px;">Project</a>
              <div class="container dropdown-menu" aria-labelledby="project">
                <input class="dropdown-item" class="form-control" placeholder="Search" [(ngModel)]="project">
                <a class="dropdown-item" *ngFor="let project of projectmenu|filter:project" (click)="appendtofilteritems(project)">{{project}}</a>
              </div>

            </div>
            <div class="col-sm">

              <img class="btn" id="partner" data-toggle="dropdown" style="margin-left:9px;" src="assets/Images/partner.png">
              <a class="btn" style="font-size:13px;">Partner</a>
              <div class="container dropdown-menu" style="margin-top:0.4cm;min-width:4cm;" aria-labelledby="partner">
                <input class="dropdown-item" class="form-control" placeholder="Search" style="max-height:0.7cm;" [(ngModel)]="partner">
                <a class="dropdown-item" *ngFor="let partner of partnermenu | filter:partner" (click)="appendtofilteritems(partner)">{{partner}}</a>
              </div>

            </div>

            <div class="col-sm">
              <div>
                <button class="btn btn-primary">Apply Filters</button>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="card bg-light border-dark" *ngIf="filteritems[0]">
      <div class="row" style="margin:0.2cm">
        <div class="col-sm-8">
          <span class="text-centre" *ngFor="let item of filteritems" style="font-size:0.48cm">{{item}}
            <mat-icon mat-icon-button color="primary" (click)="closefilter(item)" style="cursor:pointer;font-size:15px;">highlight_off</mat-icon>
          </span>
        </div>
        <div class="col-sm-1" *ngIf="filteritems[0]">
          <button mat-raised-button class="btn card btn-info" (click)="filteritems=[]">Clear Filters</button>
        </div>
      </div>
    </div>

    <br>





    <h5>My Batch Requests ({{no_of_BR}})</h5>
    <ag-grid-angular *ngIf="!Tile" style="height:300px;" class="ag-theme-balham list" enableColResize="true" [enableSorting]="true"
      [enableFilter]="true" [rowData]="batchrequests" [columnDefs]="columnDefs">
    </ag-grid-angular>


    <div class="lds-ellipsis" *ngIf="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="row" *ngIf="!loader && Tile" style=" overflow-x: auto;max-height:14cm;margin-left:1cm;">

      <mat-card *ngFor="let request of batchrequests" class="example-card">
        <img src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png"> {{request.request_id}}
        <!-- <mat-icon id="star" class="star" (click)="starcolor()" [color]="color">star</mat-icon> -->
        <!-- <p style="font-size:13px;margin-left:27px;">GxP Lab Batch</p> -->
        <div style="font-size:13px;">project:{{request.project}}</div>
        <div class="progress" style="max-height:8px;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
        </div>
        <div title="Status:{{request.status}}" class="text-sm-auto" style="font-size:13px;">{{request.status}}</div>
        <div style="font-size:13px;">Submitter:{{request.createdBy}} </div>
        <div style="font-size:13px;">Mfg.Date:21/52/</div>
        <div class="row" style="margin-left:3cm;color:rgb(90, 88, 88);cursor:pointer;">
          <i class="col-sm-1 fa fa-file-pdf-o fa"></i>
          <mat-icon class="col-sm-1">print</mat-icon>
        </div>
      </mat-card>
      <br>
    </div>
    <br>
    <h5>My Filling Requests ({{no_of_FR}})</h5>
    <br>
    <div class="lds-ellipsis" *ngIf="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ag-grid-angular *ngIf="!Tile" style="height:300px;" class="ag-theme-balham list" enableColResize="true" [enableSorting]="true"
      [enableFilter]="true" [rowData]="fillingrequests" [columnDefs]="columnDefs">
    </ag-grid-angular>
    <div class="row" *ngIf="!loader && Tile" style=" overflow-x: auto;max-height:10cm;margin-left:1cm;">

      <mat-card *ngFor="let request of fillingrequests" class="example-card">
        <img src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png"> {{request.request_id}}
        <!-- <mat-icon id="star" class="star" (click)="starcolor()" [color]="color">star</mat-icon> -->
        <!-- <p style="font-size:13px;margin-left:27px;">GxP Lab Batch</p> -->
        <div style="font-size:13px;">project:{{request.project}}</div>
        <div class="progress" style="max-height:8px;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
        </div>
        <div title="Status:{{request.status}}" class="text-sm-auto" style="font-size:13px;">{{request.status}}</div>
        <div style="font-size:13px;">Submitter:{{request.createdBy}} </div>
        <div style="font-size:13px;">Mfg.Date:21/52/</div>
        <div class="row" style="margin-left:3cm;color:rgb(90, 88, 88);cursor:pointer;">
          <i class="col-sm-1 fa fa-file-pdf-o fa"></i>
          <mat-icon class="col-sm-1">print</mat-icon>
        </div>
      </mat-card>
      <br>
    </div>
    <br>
    <h5>My RM Requests ({{no_of_RM}})</h5>
    <br>
    <div class="lds-ellipsis" *ngIf="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ag-grid-angular *ngIf="!Tile" style="height:300px;" class="ag-theme-balham list" enableColResize="true" [enableSorting]="true"
      [enableFilter]="true" [rowData]="RMrequests" [columnDefs]="columnDefs">
    </ag-grid-angular>


    <div class="row" *ngIf="!loader && Tile" style=" overflow-x: auto;max-height:10cm;margin-left:1cm;">

      <mat-card *ngFor="let request of RMrequests" class="example-card">
        <img src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png"> {{request.request_id}}
        <!-- <mat-icon id="star" class="star" (click)="starcolor()" [color]="color">star</mat-icon> -->
        <!-- <p style="font-size:13px;margin-left:27px;">GxP Lab Batch</p> -->
        <div style="font-size:13px;">project:{{request.project}}</div>
        <div class="progress" style="max-height:8px;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
        </div>
        <div title="Status:{{request.status}}" class="text-sm-auto" style="font-size:13px;">{{request.status}}</div>
        <div style="font-size:13px;">Submitter:{{request.createdBy}} </div>
        <div style="font-size:13px;">Mfg.Date:21/52/</div>
        <div class="row" style="margin-left:3cm;color:rgb(90, 88, 88);cursor:pointer;">
          <i class="col-sm-1 fa fa-file-pdf-o fa"></i>
          <mat-icon class="col-sm-1">print</mat-icon>
        </div>
      </mat-card>
      <br>
    </div>
  </div>
</div>








<br>
<div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row" style="margin-left:1.3cm;">
        <mat-card *ngFor="let request of batchrequests|slice:0:5; let i=index" class="col-sm-3 example-card">
          <img src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png"> {{request.request_id}}
          <!-- <mat-icon id="star" class="star" (click)="starcolor()" [color]="color">star</mat-icon> -->
          <!-- <p style="font-size:13px;margin-left:27px;">GxP Lab Batch</p> -->
          <div style="font-size:13px;">project:{{request.project}}</div>
          <div class="progress" style="max-height:8px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
          </div>
          <div title="Status:{{request.status}}" class="text-sm-auto" style="font-size:13px;">{{request.status}}</div>
          <div style="font-size:13px;">Submitter:{{request.createdBy}} </div>
          <div style="font-size:13px;">Mfg.Date:21/52/</div>
          <div class="row" style="margin-left:3cm;color:rgb(90, 88, 88);cursor:pointer;">
            <i class="col-sm-1 fa fa-file-pdf-o fa"></i>
            <mat-icon class="col-sm-1">print</mat-icon>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row" style="margin-left:1.3cm;">
        <mat-card *ngFor="let request of batchrequests|slice:0:5; let i=index" class="col-sm-3 example-card">
          <img src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png"> {{request.request_id}}
          <!-- <mat-icon id="star" class="star" (click)="starcolor()" [color]="color">star</mat-icon> -->
          <!-- <p style="font-size:13px;margin-left:27px;">GxP Lab Batch</p> -->
          <div style="font-size:13px;">project:{{request.project}}</div>
          <div class="progress" style="max-height:8px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
          </div>
          <div title="Status:{{request.status}}" class="text-sm-auto" style="font-size:13px;">{{request.status}}</div>
          <div style="font-size:13px;">Submitter:{{request.createdBy}} </div>
          <div style="font-size:13px;">Mfg.Date:21/52/</div>
          <div class="row" style="margin-left:3cm;color:rgb(90, 88, 88);cursor:pointer;">
            <i class="col-sm-1 fa fa-file-pdf-o fa" style="color:black"></i>
            <mat-icon class="col-sm-1">print</mat-icon>
          </div>
        </mat-card>
      </div>
    </div>


    <div class="carousel-item">
      <div class="row" style="margin-left:1.3cm;">
        <mat-card *ngFor="let request of batchrequests" class="col-sm-3 example-card">
          <img src="http://ec2-52-66-65-233.ap-south-1.compute.amazonaws.com:8500/cg510_brm_images/Images/Black/labBatchRequest/gx-p-lab-batch.png"> {{request.request_id}}
          <!-- <mat-icon id="star" class="star" (click)="starcolor()" [color]="color">star</mat-icon> -->
          <!-- <p style="font-size:13px;margin-left:27px;">GxP Lab Batch</p> -->
          <div style="font-size:13px;">project:{{request.project}}</div>
          <div class="progress" style="max-height:8px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
          </div>
          <div title="Status:{{request.status}}" class="text-sm-auto" style="font-size:13px;">{{request.status}}</div>
          <div style="font-size:13px;">Submitter:{{request.createdBy}} </div>
          <div style="font-size:13px;">Mfg.Date:21/52/</div>
          <div class="row" style="margin-left:3cm;color:rgb(90, 88, 88);cursor:pointer;">
            <i class="col-sm-1 fa fa-file-pdf-o fa"></i>
            <mat-icon class="col-sm-1">print</mat-icon>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" style="background:rgb(163, 162, 162);max-width:1cm;" href="#carouselExampleControls" role="button"
    data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only ">Previous</span>
  </a>
  <a class="carousel-control-next" style="max-width:1cm;background:gray" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>